<li>
  <span class="story_title"><%= newsitem.title %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(newsitem.created_at) %> ago.
  </span>
  <span class="story_body"><%= simple_format(newsitem.story_body) %></span>
  <span class="authored_by">Posted by <%= newsitem.user.name %></span>
  <%= link_to "delete", newsitem, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: newsitem.title %>
</li>