<%= form_for(@newsitem) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Story Title..." %>
    <%= f.text_area :story_body, placeholder: "Story Body..." %>
  </div>
  <%= f.submit "Post Story", class: "btn btn-large btn-primary" %>
<% end %>